/*------------start-------------网站基本色系--------------------------------*/
/*------------end------网站基本色系--------------------------------*/
/* ----------start-------reset-----------------------------*/
html,
body {
  width: 100%;
  font-size: 14px;
  font-family: '微软雅黑';
  min-width: 1000px;
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
img,
p,
span,
strong,
ul,
li,
ol,
table,
tr,
td,
input,
label {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  transition-duration: 0.35s;
}
ul,
ol,
li {
  list-style: none;
}
/* ----------end---------reset-----------------------------*/
/*-----------start----- 基本样式类 ----------------------------------*/
.clearfix::before,
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.button {
  display: inline-block;
  padding: 5px 10px ;
  border: 1px solid azure;
  border-radius: 5px;
}
.banxin {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.show {
  display: block !important;
}
.navBg {
  background-color: #006699;
  color: #fefefe !important;
}
.selectedNarSliderItem {
  background: #006699 !important;
  color: #fefefe !important;
}
.bgBlue {
  background: #006699 !important;
}
.multiLineText1 {
  /*设置文本为多行，如果超出长度用省略号代替*/
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*限制在一个块元素显示的文本的行数*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multiLineText2 {
  /*设置文本为多行，如果超出长度用省略号代替*/
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*限制在一个块元素显示的文本的行数*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multiLineText3 {
  /*设置文本为多行，如果超出长度用省略号代替*/
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*限制在一个块元素显示的文本的行数*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.loadingBox {
  margin-top: 50px;
  margin-bottom: 100px;
  height: 300px;
  position: relative;
}
.loadingBox .fa {
  display: block;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  color: #006699;
}
/*-----------end------- 基本样式类  ----------------------------------*/
/*-----------start----- nav -----------------------------------------*/
#nav {
  height: 93px;
  background-color: #fefefe;
  border-bottom: 3px solid #006699;
  line-height: 90px;
}
#nav .logoBox {
  cursor: pointer;
  float: left;
  height: 90px;
  width: 200px;
  background-image: url("../imgs/common/logo.png");
  background-size: 119px  50px ;
  background-repeat: no-repeat;
  background-position: left center;
}
#nav #nav-cotent {
  float: left;
  height: 90px;
  line-height: 90px;
  padding-left: 30px;
}
#nav #nav-cotent li {
  cursor: pointer;
  height: inherit;
  line-height: inherit;
  color: #333;
  font-size: 15px;
  font-weight: normal;
  float: left;
  padding: 0 10px;
  letter-spacing: 2px;
}
#nav #nav-cotent li > a {
  display: inline-block;
  font-size: 15px;
  color: #333;
  height: inherit;
  font-weight: normal;
  text-decoration: none;
}
#nav #nav-cotent li:hover {
  background-color: #006699;
  color: #fefefe;
}
#nav #nav-cotent li:hover > a {
  color: #fefefe;
}
#nav .hotCall {
  float: left;
  text-align: right;
  height: 90px;
  width: 270px;
  padding-left: 10px;
  font-size: 14px;
  color: #666;
}
#nav .hotCall .fa {
  color: #006699;
}
#nav .hotCall .telNum {
  color: #006699;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: -1px;
}
/*-----------start nav-slider----------------------*/
.navSilder {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 2px solid #006699;
  position: absolute;
  top: 93px;
  left: 0;
  z-index: 1000;
  display: none;
}
#dazongSlider .content,
#keyanSlider .content {
  padding: 0 0 20px 0;
  width: 100%;
}
#dazongSlider .content > a,
#keyanSlider .content > a {
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 13px;
  color: #333;
  display: inline-block;
  padding: 5px 10px;
}
#dazongSlider .content > a:hover,
#keyanSlider .content > a:hover {
  background-color: #006699;
  color: #fefefe;
}
#linchuangSlider .itemBars {
  padding-top: 20px;
}
#linchuangSlider .itemBars > span {
  text-align: center;
  display: inline-block;
  width: 33.33%;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  font-weight: bolder;
  color: #006699;
  cursor: pointer;
}
#linchuangSlider .item-content {
  border-top: 1px solid #006699;
  padding: 10px 0 30px 0;
  width: 100%;
}
#linchuangSlider .item-content > a.item-content-item {
  box-sizing: border-box;
  display: inline-block;
  width: 33.33%;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  font-size: 13px;
  color: #333;
  padding: 5px 10px;
}
#linchuangSlider .item-content > a.item-content-item:hover {
  background-color: #006699;
  color: #fefefe;
}
/*-----------end nav-slider----------------------*/
/*-----------end-------  nav ----------------------------------*/
/*-----------start----- footer / bottom  ----------------------------------*/
#footer {
  height: 250px;
  background-color: #006699;
  color: #fefefe;
  padding-top: 36px;
}
#footer .contact-us {
  float: left;
  width: 320px;
}
#footer .contact-us .item1 {
  position: relative;
  width: 100%;
  height: 66px;
  padding-left: 50px;
}
#footer .contact-us .item1 .phone-icon {
  position: absolute;
  top: 10px;
  left: 5px;
  display: block;
  border: 2px solid #eeeeee ;
  width: 32px;
  height: 32px;
  font-size: 22px;
  line-height: 30px;
  text-align: center ;
  border-radius: 17px;
}
#footer .contact-us .item1 h3 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bolder;
}
#footer .contact-us .item1 p {
  font-size: 14px;
  padding-left: 10px;
}
#footer .contact-us .item2 {
  width: 100%;
  height: 50px;
  position: relative;
  padding-left: 70px;
}
#footer .contact-us .item2 .button-contact {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 125px;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  background-color: #993333;
  font-size: 20px;
  color: #eeeeee;
  text-decoration: none;
}
#footer .contact-us .item3 {
  position: relative;
  padding-top: 10px;
  width: 100%;
  height: 66px;
  padding-left: 50px;
  font-size: 14px;
}
#footer .contact-us .item3 .address-icon {
  position: absolute;
  top: 12px;
  left: 5px;
  display: block;
  width: 32px;
  height: 32px;
  font-size: 26px;
  line-height: 30px;
  text-align: center ;
  border-radius: 17px;
}
#footer .contact-us .item3 p {
  height: 22px;
  line-height: 22px;
}
#footer .about-us,
#footer .news,
#footer .service,
#footer .weixin {
  width: 170px;
  float: left;
}
#footer .about-us h2,
#footer .news h2,
#footer .service h2,
#footer .weixin h2 {
  font-size: 20px;
  font-weight: bolder;
}
#footer .about-us ul,
#footer .news ul,
#footer .service ul,
#footer .weixin ul {
  margin-top: 16px;
  margin-left: 5px;
}
#footer .about-us ul li a,
#footer .news ul li a,
#footer .service ul li a,
#footer .weixin ul li a {
  color: #eeeeee;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
#footer .about-us ul li:not(:first-child),
#footer .news ul li:not(:first-child),
#footer .service ul li:not(:first-child),
#footer .weixin ul li:not(:first-child) {
  margin-top: 4px;
}
#footer .about-us img,
#footer .news img,
#footer .service img,
#footer .weixin img {
  margin-top: 16px;
  margin-left: 5px;
  width: 100px;
  height: 100px;
}
#bottom {
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: #005577;
  color: white;
  font-size: 13px;
}
#bottom span {
  text-transform: uppercase;
}
/*-----------end------- footer / bottom ----------------------------------*/
/*-----------start-----  pageHeader / silderNavbar  ----------------------------------*/
.pageHeader {
  width: 100%;
}
.pageHeader > img {
  display: block;
  width: 100%;
  height: auto;
}
.slider-navBar {
  position: relative;
  height: 60px;
  line-height: 60px;
  font-size: 15px;
  background-color: rgba(128, 128, 128, 0.05);
  color: #006699;
}
.slider-navBar a {
  font-size: 15px;
  color: #006699;
  text-decoration: none;
}
/*-----------end-------   pageHeader / sliderNavbar----------------------------------*/
/*-----------start-----   ----------------------------------*/
/*-----------end-------   ----------------------------------*/
/*-----------start-----   ----------------------------------*/
/*-----------end-------   ----------------------------------*/
