/*------------start-------------网站基本色系--------------------------------*/
/*------------end------网站基本色系--------------------------------*/
#products {
  margin-bottom: 50px;
}
#products .proList {
  margin-top: 30px;
}
#products .proList .proList-title {
  font-size: 28px;
  font-weight: normal;
  color: #006699;
  margin-bottom: 20px;
}
#products .proList .proList-box .proItem {
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  width: 320px;
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  float: left;
  background: #f9f9f9;
  padding: 20px;
  transition-duration: 0.1s;
}
#products .proList .proList-box .proItem > img {
  width: 282px;
  height: 192px;
}
#products .proList .proList-box .proItem .proItem-title {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 22px;
  line-height: 22px;
  font-size: 22px;
  color: #333;
  text-overflow: ellipsis;
  text-wrap: avoid;
}
#products .proList .proList-box .proItem .proItem-box {
  height: 145px;
  overflow-y: auto;
  padding: 5px 0;
}
#products .proList .proList-box .proItem .proItem-box li {
  height: 24px;
  transition-duration: 0.1s;
}
#products .proList .proList-box .proItem .proItem-box li > a {
  width: inherit;
  height: inherit;
  display: block;
  text-decoration: none;
  padding: 5px;
  line-height: 14px;
  font-size: 14px;
  color: #666;
  text-wrap: none;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}
#products .proList .proList-box .proItem .proItem-box li:first-child {
  margin-top: 5px;
}
#products .proList .proList-box .proItem .proItem-box li:hover a {
  color: rgba(0, 102, 153, 0.5);
}
#products .proList .proList-box .proItem:hover {
  border-color: rgba(0, 102, 153, 0.3);
  box-shadow: 0px 1px 5px 1px rgba(0, 102, 153, 0.1);
  transform: scale(1.005);
  background: #ffffff;
}
