@charset "utf-8";

/*------------start-------------网站基本色系--------------------------------*/

@mainBlue: #006699;
@mainRed: #993333;
@mainWhite: #fefefe;
@black1: #333;
@black2: #666;
@black3: #888;
@fontFamily: '微软雅黑';

/*------------end------网站基本色系--------------------------------*/

//新闻详情页
.news-box {
  padding-top: 60px;
  //background-color: lightskyblue;
  .news-details-title {
    font-size: 28px;
    font-weight: bolder;
    color: @black1;
  }
  .news-details-info {
    padding-left: 10px;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    .fa {
      color: @mainBlue;
    }

  }
  .separator {
    display: block;
    border-bottom: 1px solid #cccccc;
  }
  .UE-Box {
    margin-top: 40px;
    padding-bottom: 60px;
  }

}

//产品详情页
.productDetailsBox {
  .pageHeader {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 350px;
    position: relative;
    .mask {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
    }
    h1 {
      margin-top: 145px;
      font-size: 65px;
      height: 65px;
      line-height: 65px;
      font-weight: bolder;
      color: @mainWhite;
      position: relative;
      z-index: 200;
      padding-left: 20px;
    }
  }
  .product-box {
    padding: 60px 0 150px 0;
    //background-color: rebeccapurple;
  }
}

.UE_style-1 {
  //*:empty{
  //  display: none;
  //}
  color: @black2 - 50 !important;

  p{
    font-size: 22px;
    line-height: 1.6;
  }

  img {
    width: 96%;
    height: auto;
    display: block;
    margin: 30px auto;
  }

  table {
    max-width: 96%;
    margin: 30px auto;
    tbody{
      tr{
        >:empty{
          display: none;
        }
      }
      > tr:first-child{
        :empty{
          display: none;
        }
        *{
          font-weight: bolder;
          text-align: center;
        }
      }

    }
  }



}


