@charset "utf-8";

/*------------start-------------网站基本色系--------------------------------*/

@mainBlue: #006699;
@mainRed: #993333;
@mainWhite: #fefefe;
@black1: #333;
@black2: #666;
@black3: #888;
@fontFamily: '微软雅黑';

/*------------end------网站基本色系--------------------------------*/

//新闻详情页
.news-box {
  padding-top: 60px;
  padding-bottom: 60px;
  //background-color: lightskyblue;
  .news-details-title {
    color: #505050 !important;
    font-size: 24px;
    font-weight: bolder;
    text-align:left !important;
  }
  .news-details-info {
    color: #4b4b4b !important;
    padding-left: 10px;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    .fa {
      color: @mainBlue;
    }

  }
  .separator {
    display: block;
    margin-top: 10px;
    border-bottom: 1px solid rgba(162, 162, 178, 0.76);
  }
  .news-details-content{
    font-size: 22px;
    color: #515151;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 40px;
    p{
      font-size: 18px;
      font-weight: normal;
      line-height: 1.6;
      margin-bottom: 20px;

    }
    img{
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

}

//产品详情页
.productDetailsBox {
  .pageHeader {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 350px;
    position: relative;
    .mask {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
    }
    h1 {
      margin-top: 145px;
      font-size: 65px;
      height: 65px;
      line-height: 65px;
      font-weight: bolder;
      color: @mainWhite;
      position: relative;
      z-index: 200;
      padding-left: 20px;
    }
  }
  .product-box {
    padding: 60px 0 150px 0;
    .banxin{
      h2{
        color: #126699;
        font-size: 26px;
        font-weight: bolder;
        padding-left: 15px;
        margin-bottom: 15px;
        background-image: linear-gradient(to top , #006699 ,#006699 ,#006699);
        background-repeat: no-repeat;
        background-size: 3px 20px;
        background-position: left center;
      }
      h2{
        *{
          color: #126699;
          font-size: 26px;
          font-weight: bolder;
        }
      }
      h2:not(:first-child){
        margin-top: 50px;
      }
      p{
        font-size: 16px;
        line-height: 1.6;
      }
      img{
        display: block;
        max-width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }

    }


  }
}
