<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="索真, 索真医学, 索真官网,  基因检测">
    <meta name="description" content="索真医学是由数名美国海归教授、肿瘤基因检测专家、中国科学院计算技术研究所的大数据分析专家和互联网专家联合创建,拥有基因检测技术、大数据分析平台和移动互联网平台。" />
    <meta name="author" content="MirrorXu" />
    <title>新闻详情</title>
    <link rel="stylesheet" href="font/css/font-awesome.min.css">
    <link href="lib/swiper/swiper.css" rel="stylesheet">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/news-product-details.css">

    <script src="lib/jquery3.2.1.js"></script>
    <script src="js/getProAll.js"></script>
     <script type="text/javascript">
$(function(){
	if(IsPC()){
	}else{
		var url=window.location.href; 
		url = url.replace("/src/", "/front/")
		window.location.href = url
	}
})
function IsPC(){     
    var userAgentInfo = navigator.userAgent;   
    var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");     
    var flag = true;     
    for (var v = 0; v < Agents.length; v++) {     
        if (userAgentInfo.indexOf(Agents[v]) > 0) { flag = false; break; }     
    }     
    return flag;     
 }   
</script>
</head>
<body>

<div id="nav" class="nav">
    <div class="banxin clearfix">
        <a class="logoBox" href="./index.html">
        </a>
        <ul id="nav-cotent" class="clearfix">
            <li><a href="./index.html">首页</a></li>
            <li id="linchuang">临床服务</li>
            <li id="keyan">科研服务</li>
            <li id="dazong">大众健康</li>
            <li><a href="./news.html">新闻动态</a></li>
            <li><a href="about-us.html">关于我们</a></li>
        </ul>
        <div class="hotCall">
            <i class="fa fa-phone"></i>热线咨询服务：<span class="telNum">400-808-8978</span>
        </div>
    </div>
</div>
<!-----------start   nav-slider  ------------------>
<div id="navSlider">
    <!--大众健康navSlider-->
    <div id="dazongSlider" class="navSilder">
        <div class="banxin">
            <div class="content clearfix">
                <template v-for="v in dazong.children" >
                    <a v-for="v in v.children" :href="baseUrl+v.id">{{ v.text }}</a>
                </template>
            </div>
        </div>
    </div>
    <!--科研navSlider-->
    <div id="keyanSlider" class="navSilder">
        <div class="banxin">
            <div class="content clearfix">
                <template v-for="v in keyan.children" >
                    <a v-for="v in v.children" :href="baseUrl+v.id">{{ v.text }}</a>
                </template>
            </div>
        </div>
    </div>
    <!--临床navSlider-->
    <div id="linchuangSlider" class="navSilder">
        <div class="banxin">
            <div class="itemBars">
                <span :class="{'selectedNarSliderItem':(v.text)===tempLinchuang[0].text}" v-for="v in linchuang.children" @click="changTempLinchuang(v.text)">{{ v.text }}</span>
            </div>
            <div class="item-content clearfix">
                <template v-for="v in tempLinchuang[0].children">

                    <a class="item-content-item" v-for="v in v.children"  :href="baseUrl+v.id">{{ v.text }}</a>

                </template>
            </div>
        </div>
    </div>
</div>
<!-----------end    nav-slider  ------------------>


<div class="pageHeader">
    <img src="imgs/page-header/news-pageHeader.png" alt="">
</div>


<div class="news-box">
    <div class="banxin" v-if="newsDetails.title">
        <h3 class="news-details-title" style="text-align: center"> {{newsDetails.title}} </h3>
        <div class="news-details-info">
            <span class="news-details-info-time"><i class="fa fa-clock-o"></i> : {{newsDetails.time || '--'}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="news-details-info-editor"><i class="fa fa-user-o"></i> : {{newsDetails.author ||'--'}}</span>
        </div>
        <span class="separator"></span>
        <div class="news-details-content" v-if="newsDetails.content" >
            <template v-for="(v , k ) in newsDetails.content">
                <template v-for="( v , k  ) in v">
                        <template v-if="k =='img'"><img :src="v" alt="v" title="v"></template>
                        <template v-else-if="k =='p'"><p>{{ v }}</p></template>
                        <template v-else><p>{{ v }}</p></template>
                </template>
            </template>
        </div>
    </div>
    <div v-else class="banxin">
        <div class="loadingBox">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
    </div>
</div>


<div id="footer">
    <div class="banxin">
        <div class="contact-us">
            <div class="item1">
                <span class="phone-icon">
                <span class="fa fa-phone "></span>
                </span>
                <h3>400 - 808 - 8978</h3>
                <p>周一至周五 9:00-18:00</p>
            </div>
            <div class="item2">
                <a class="button-contact" href="#">
                    在线咨询
                </a>
            </div>

            <div class="item3">
                <span class="address-icon">
                <span class="fa fa-map-marker"></span>
                </span>

                <p>
                    北京市经济技术开发区科创六街
                </p>
                <p> &nbsp; &nbsp; &nbsp; &nbsp;88号生物医药园A1-2层
                </p>
            </div>
        </div>
        <div class="about-us">
            <h2>关于我们</h2>
            <ul>
                <li><a href="about-us.html">公司简介</a></li>
            </ul>
        </div>

        <div class="news">
            <h2>新闻中心</h2>
            <ul>
                <li><a href="./news.html">公司新闻</a></li>
            </ul>
        </div>
        <div class="service">
            <h2>服务支持</h2>
            <ul>
                <li><a href="./trainingCenter.html">培训讲堂</a></li>
            </ul>
        </div>
        <div class="weixin">
            <h2>微信公众号</h2>
            <img src="imgs/common/weixin.jpg" alt="">
        </div>
    </div>
</div>

<div id="bottom">
    <p>北京索真医学检验所有限公司 &nbsp;&nbsp; 索真（北京）医学科技有限公司  &nbsp;&nbsp; &nbsp;&nbsp;<span>copyright &copy; 2017,索真,all rights reserved. </span> </p>
</div>



<script src="lib/swiper/swiper.jquery.js"></script>
<script src="lib/vue.min.js"></script>
<script src="js/nav.js"></script>
<script>
    var newsDetails =  {}


    function getId () {
	    var hrefStr = window.location.href;

	    if( hrefStr.indexOf('?') > (-1) ){
		    var str = hrefStr.split('?')[1];
		    if( str.indexOf('&') > (-1)  ){
			    return str.split('&')[0].split('=')[1];
		    }else{
			    return str.split('=')[1];
		    }
	    }else {
		    alert( 'URL参数错误' )
	    }
    }


    var newsDetailsApp = new Vue({
        el:'.news-box',
        data:{
            newsDetails:newsDetails,
            newsId:getId(),
            newsList:[],
//            tempNews:newsDetails
        },
        mounted:function () {
            var _this = this;

	        $.getJSON('http://api.vlifebank.com/vlifebank-api/news-list' , function (data) {
		        if( data.retCode === 0 ){
//			        console.log( 'jsonp新闻数据请求成功');

			        console.log( data.data)
                  console.log('_newsId:', _this.newsId );

			        var news = data.data.filter( function ( v ,i ) {
                        return v.id == _this.newsId
			        } )[0];

			        if( (typeof news.content) == 'string'){
			        	news.content = JSON.parse( news.content );
//			        	console.log( 'news.content数据类型：' ,  typeof news.content )
                    }else{
			        	console.log( 'news.content 并非字符串' )
                    }

                    _this.newsDetails = news;
//                    console.log( Array.isArray( _this.newsDetails.content ));
//                    console.log( typeof _this.newsDetails.content)

		        }else{
			        console.log( '天方创新新闻接口出现错误...请确认')
		        }
	        })
        },

    })
</script>

</body>
</html>